body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: 10px 10px;
    background-color: #ffffff;

}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: ;
}

.container {
    max-width: 500px;
    margin: auto;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 10%;
    box-shadow: 0 2px 5px rgba(233, 34, 34, 0.1);
}

h2 {
    margin-top: auto;


}


.portfolio-item {
    margin-bottom: 10px;

}



footer {
    background-color: #e7dede;
    color: rgb(168, 40, 40);
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 10;
    width: 100%;
}

/*  */
/* agora sim */